@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
  font-family: 'Bebas Neue';
}

.nav-bar {
  background-color: #DCB6A8;
  display: flex;
  justify-content: space-between;
  font-family: 'Bebas Neue';
}

.keg, .footer, .header, .home-page {
  display: flex;
  justify-content: center;
}

h1, h2{
  display: flex;
  justify-content: center;
}

.tapped-message{
  text-align: center;
}

.footer {
  background-color: #F8F4E8;
  height: 40px;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

/* beer cards */
.card-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}